body {background-color: #90C7E3;background-image: linear-gradient(#ffffff, #90c7e3 ); color:#666666;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
        
}
header {background-color: #000033; color:#FFFFFF;
    background-image: url(images/sunset.jpg); background-position: right; background-repeat: no-repeat; height: 60px; text-align: center; padding-top: 15px;
}
nav {background-color: #ffffff; font-weight: bold; text-align: center; padding: 10px;
}
nav a {text-decoration: none;
}

h1 {margin-bottom: 0; font-family: Georgia,Times,Times New Roman,serif; margin-top: 0;
}
h2 {color:#3399CC; font-family: Georgia,Times,Times New Roman,serif; text-shadow: 1px 1px 1px #cccccc;
}
h3 {color:#000033; font-family: Georgia,Times,Times New Roman,serif; 
}
.resort {color:#5C7FA3;
}
ul {list-style-image: url(images/marker.gif);
    
}
footer {font-size: 75%; font-style: italic; text-align: center; font-family: Georgia,Times,Times New Roman,serif; 
padding: 20px;    
}
.resort {font-weight: bold;
}
#contact {font-size: 90%;
}
#wrapper {margin-left: auto; margin-right: auto;
    width: 80%; background: #ffffff; min-width: 960px; max-width: 2048px; box-shadow: 3px 3px 3px #333333
}
main {padding-top: 1px; padding-right: 20px;padding-left: 20px; padding-bottom: 20px; display: block;
}
#homehero {height: 300px; background-image: url(images/coasthero.jpg); background-size: 100% 100%; background-repeat: no-repeat;    
}
#yurthero {height: 300px; background-image: url(images/yurthero.jpg); background-size: 100% 100%; background-repeat: no-repeat;
}
#trailhero {height: 300px; background-image: url(images/trailhero.jpg); background-size: 100% 100%; background-repeat: no-repeat;
}